.container-fluided {
    padding: 0px 45px;
}
.listing-page{
    width: 100%;
    height: auto;
    padding: 45px 0px; 
}

.breadcum{
    width: 100%;
    height: auto;
    padding: 45px 35px;
    background-color: #d8f1e5;
    border-radius: 20px;    
}

.breadcum h1{
    color: #000;
    opacity: 0.8;
    font-size: 50px;
    font-weight: bold;
}