.homSlider{
    padding: 30px 0px;
}
.home-slider-main{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.home-slider-main .slick-arrow{
    position: absolute;
    top: 47%;
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    background-color: #F2F3F4;
    z-index: 100;
    transition: all 0.2 ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.home-slider-main .slick-next {
    right: 2% !important;
}

.home-slider-main .slick-prev{
    left: 2% !important;
}

.home-slider-main .slick-prev:before{
    content: "\f053" !important; 
    font-family: FontAwesome !important;
    color: #000 !important;
    font-size: 25px !important;
}

.home-slider-main .slick-next:before{
    content: "\f054" !important; 
    font-family: FontAwesome !important;
    color: #000 !important;
    font-size: 25px !important;
}

.home-slider-main .slick-arrow:hover{
    background-color: #3bb77e !important;
}
.home-slider-main .slick-arrow:hover::before{
    color: #fff !important;
}

.home-slider-main .slick-dots{
    position: absolute;
    bottom: 30px;
}
.home-slider-main .slick-dots button::before{
    width: 10px !important;
    height: 10px !important;
    font-size: 16px !important;
}

.home-slider-main .slick-active button::before{
    color: #3bb77e !important;
}

.home-slider-main .item{
    position: relative;
}

.home-slider-main .item .info{
    position: absolute;
    top: 18%;
    left: 7%;
    z-index: 100;
}

.home-slider-main .item .info h2{
    font-size: 90px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.home-slider-main .item .info p{
    font-size: 35px;
    font-weight:500;
    color: #7E7E7E;
}
